src/main
.vscode/*
src/CMakeFiles/*
src/CMakeCache.txt
src/sample_0.log
src/cmake_install.cmake
src/Makefile
tests/cpp/CMakeFiles/*
tests/cpp/CMakeCache.txt
tests/cpp/sample_0.log
tests/cpp/cmake_install.cmake
tests/cpp/Makefile
tests/cpp/mainTest
src/file1
tests/cpp/file1
tests/py/sample_0.log
src/Logger/build/*

build/*
lib/libDBConnectionPool/build/*
lib/libLogger/build/*
unit_tests/build/*

bb_tests/file1
bb_tests/*.log